{% extends 'base.html.twig' %}
{% use 'search/searchBar.html.twig' %}

{% block title %}Пользователи{% endblock %}
{% block body %}
    <div class="container">
    </div>
    {{ block('searchBar') }}
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Ф.И.О.</th>
            <th scope="col">Место работы</th>
            <th scope="col">Должность</th>
            <th scope="col">Телефон</th>
            <th scope="col">Электронная почта</th>
            <th scope="col">Страна</th>
            <th scope="col">Город</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>
        {% set count = 0 %}
        {% for row in users %}
            <tr {% if row.active %} class="table-success" {% endif %}>
                {% set count = count + 1 %}
                <td>{{ count }}</td>
                <td class="fio" id="fio_{{ row.id }}">{{ row.lastname }} {{ row.Firstname }} {{ row.middlename }}</td>
                <td>{{ row.job }}</td>
                <td>{{ row.position }}</td>
                <td>{{ row.phone }}</td>
                <td>{{ row.email }}</td>
                <td>{{ row.country }}</td>
                <td>{{ row.city }}</td>
                <td>{% if not row.active %}<a type="button" class="btn btn-success" href="/active/{{ row.id }}">
                            Пришел</a> {% endif %}</td>
                <td><a type="button" class="btn btn-primary" id="print" onclick="CallPrint('{{ row.lastname }}', '{{ row.Firstname }}', '{{ row.middlename }}')">Печать</a></td>
                <td><a type="button" class="btn btn-secondary" href="/update/{{ row.id }}">Изменить</a></td>
                <td><a type="button" class="btn btn-danger" href="/delete/{{ row.id }}">X</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        function CallPrint(f, i, o) {
            var now = new Date();
            var day = now.getDate();
            var month = now.getMonth()+1;
            month = month > 9 ? month : '0'+month;
            var year = now.getFullYear();
            var date = day+'.'+month+'.'+year;
            var prtCSS = '<link rel="stylesheet" href="/css/print.css" type="text/css" />';
            var WinPrint = window.open('','','left=50,top=50,width=800,height=640,toolbar=0,scrollbars=1,status=0');
            WinPrint.document.write("<div class='date'>");
            WinPrint.document.write(date);
            WinPrint.document.write("</div>");
            WinPrint.document.write("<div class='print'>");
            WinPrint.document.write(prtCSS);
            WinPrint.document.write("<p>"+f+"</p>");
            WinPrint.document.write("<p>"+i+"</p>");
            WinPrint.document.write("<p>"+o+"</p>");
            WinPrint.document.write("</div>");
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.onafterprint = function (event) {
                WinPrint.close();
            };
        }
    </script>
{% endblock %}
